<%- include('../../layout/type_spowell/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type_spowell/topTitle.ejs', {
        url: "../../../"
    }) %>
    <div class="modTab out">
        <ul class="tabMenu">
            <li class="item on"><a href="#">대회실적관리</a></li>
            <li class="item "><a href="#">실적평가 및 지급등록</a></li>
        </ul>
    </div>
    <!-- <div class="appFrmDesc">
        <p> </p>
        <p>지원신청 데이터의 일괄등록은 규격에 맞는 엑셀파일로 등록해야합니다. &lt;일괄등록 양식다운로드 : <a href="#none">일괄등록-경기력성과포상금.xlsx</a>&gt;</p>
        <p>일괄등록 데이터는 장애 또는 비장애를 구분해서 각각 등록하세요.</p>
        <p> </p>
    </div> -->
    <br>
    <!-- 검색조건 -->
    <div class="cptSearchArea">
        <table>
            <caption></caption>
            <colgroup>
                <col style="width:150px;" />
                <col style="width:auto;" />
                <col style="width:150px;" />
                <col style="width:auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <th>업무월</th>
                    <td>
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="chk001" type="checkbox" class="iptChk"><label for="chk001" class="iptLbl">전체</label></div>
                            <select name="" id="" class="iptSlt frmSm">
                                <option value="">시도 전체</option>
                                <option value=""></option>
                            </select>
                            <select name="" id="" class="iptSlt frmSm">
                                <option value="">센터 전체</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                    <th>등록일자</th>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate"><input type="text" class="iptText" id="datepicker3"></div>
                            <div class="textBox deco">~</div>
                            <div class="iptDate"><input type="text" class="iptText" id="datepicker4"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>장애여부</th>
                    <td>
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="rdo002" type="radio" class="iptRdo" name="rdo001"><label for="rdo002" class="iptLbl">비장애</label></div>
                            <div class="frmChoBox"><input id="rdo003" type="radio" class="iptRdo" name="rdo001"><label for="rdo003" class="iptLbl">장애</label></div>    
                        </div>
                    </td>
                    <th>종목</th>
                    <td>
                        <select name="" id="" class="iptSlt">
                            <option value="">선택</option>
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>검토결과</th>
                    <td>
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="rdo002" type="radio" class="iptRdo" name="rdo001"><label for="rdo002" class="iptLbl">전체</label></div>
                            <div class="frmChoBox"><input id="rdo002" type="radio" class="iptRdo" name="rdo001"><label for="rdo002" class="iptLbl">검토대기</label></div>
                            <div class="frmChoBox"><input id="rdo003" type="radio" class="iptRdo" name="rdo001"><label for="rdo003" class="iptLbl">적격</label></div>    
                            <div class="frmChoBox"><input id="rdo003" type="radio" class="iptRdo" name="rdo001"><label for="rdo003" class="iptLbl">부적격</label></div>    
                        </div>
                    </td>
                    <th>키워드</th>
                    <td>
                        <div class="frmGroup">
                            <select name="" id="" class="iptSlt frmSm">
                                <option value="">성명</option>
                                <option value="">등록번호</option>
                            </select>
                            <input type="text" class="iptText">
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="4" class="right">
                        <button type="button" class="btnSearch">검색</button>
                        <button type="button" class="btnReset">초기화</button>
                        <!-- <button type="button" class="btnDetail">상세검색</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="unit"><span class="text">조회결과 (총 <span class="total">100</span>건)</span></div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <li class="item">
                        <button type="button" class="viewBtn on">10건</button>
                        <button type="button" class="viewBtn">20건</button>
                        <button type="button" class="viewBtn">50건</button>
                        <button type="button" class="viewBtn">100건</button>
                    </li>
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                <col style="width:40px;">
                <col style="width:100px;">
                <col style="width:120px;">
                <col style="width:80px;">

                <col style="width:250px;">
                <col style="width:250px;">

                <col style="width:70px;">
                <col style="width:70px;">
                <col style="width:120px;">

                <col style="width:200px;">
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <div class="frmChoBox only">
                            <input id="chkAll101" type="checkbox" class="iptChk"><label for="chkAll101" class="iptLbl"></label>
                        </div>
                    </th>
                    <th>업무월</th>
                    <th>등록일자</th>
                    <th>성명</th>
                    <th>실적대회정보</th>
                    <th>실적입상정보</th>
                    <th>신청점수</th>
                    <th>검토결과</th>
                    <th>기능</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl"></label>
                        </div>
                    </td>
                    <td>YYYY-MM</td>
                    <td>YYYY-MM-DD</td>
                    <td>
                        <span>0000</span><br>
                        <span>홍길동</span>
                    </td>
                    <td class="left">
                        <p>
                            <span>아시안게임</span> / <span>2022년</span> / <span>0년</span> / <span>00개국</span>
                        </p>
                        <p>2022년 항저우 아시안게임</p>
                        <p>
                            <span>YYYY-MM-DD ~ YYYY-MM-DD</span>
                        </p>
                    </td>
                    <td class="left">
                        <p><span>장애</span>(<span>시각</span>)</p>
                        <p>
                            <span>롤러</span> - <span>롤러스케이트 EP 10000M</span>
                        </p>
                        <P>
                            [<span>개인</span>] <span>5</span>위 <span>YYYY-MM-DD</span>
                        </P>
                    </td>
                    <td>70</td>
                    <td><span class="txtBlue">적격</span></td>
                    <td>
                        <button type="button" class="gridBtn gLine" onclick="openPopup('sample02')">제출서류관리</button>
                    </td>
                    <td>
                        업무메모 영역
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl"></label>
                        </div>
                    </td>
                    <td>YYYY-MM</td>
                    <td>YYYY-MM-DD</td>
                    <td>
                        <span>0000</span><br>
                        <span>홍길동</span>
                    </td>
                    <td class="left">
                        <p>
                            <span>아시안게임</span> / <span>2022년</span> / <span>0년</span> / <span>00개국</span>
                        </p>
                        <p>2022년 항저우 아시안게임</p>
                        <p>
                            <span>YYYY-MM-DD ~ YYYY-MM-DD</span>
                        </p>
                    </td>
                    <td class="left">
                        <p><span>장애</span>(<span>시각</span>)</p>
                        <p>
                            <span>롤러</span> - <span>롤러스케이트 EP 10000M</span>
                        </p>
                        <P>
                            [<span>개인</span>] <span>5</span>위 <span>YYYY-MM-DD</span>
                        </P>
                    </td>
                    <td>70</td>
                    <td><span class="txtBlue">적격</span></td>
                    <td>
                        <button type="button" class="gridBtn gLine" onclick="openPopup('sample02')">제출서류관리</button>
                    </td>
                    <td>
                        업무메모 영역
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl"></label>
                        </div>
                    </td>
                    <td>YYYY-MM</td>
                    <td>YYYY-MM-DD</td>
                    <td>
                        <span>0000</span><br>
                        <span>홍길동</span>
                    </td>
                    <td class="left">
                        <p>
                            <span>아시안게임</span> / <span>2022년</span> / <span>0년</span> / <span>00개국</span>
                        </p>
                        <p>2022년 항저우 아시안게임</p>
                        <p>
                            <span>YYYY-MM-DD ~ YYYY-MM-DD</span>
                        </p>
                    </td>
                    <td class="left">
                        <p><span>장애</span>(<span>시각</span>)</p>
                        <p>
                            <span>롤러</span> - <span>롤러스케이트 EP 10000M</span>
                        </p>
                        <P>
                            [<span>개인</span>] <span>5</span>위 <span>YYYY-MM-DD</span>
                        </P>
                    </td>
                    <td>70</td>
                    <td><span class="txtBlue">적격</span></td>
                    <td>
                        <button type="button" class="gridBtn gLine" onclick="openPopup('sample02')">제출서류관리</button>
                    </td>
                    <td>
                        업무메모 영역
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="textBox clar">모든 대회실적에 대한 적격여부 검토가 완료된 후 자금계획을 등록하세요.</div>
    <!-- //그리드 -->

    <!-- 그리드/테이블 하단 버튼 양측 -->  
    <div class="cptGroupBtnCov">
        <div class="cptGroupBtm alignL">
            <div class="comSideOpt">
                <button type="button" class="srhBtn dkBlue" onclick="openPopup('splAlt01')">적격처리</button>
                <button type="button" class="srhBtn dkBlue" onclick="openPopup('sample01')">부적격처리</button>
                <button type="button" class="srhBtn dkBlue">실적삭제</button>
            </div>
        </div>
        <div class="cptGroupBtm alignR">
            <div class="comSideOpt">
                <button type="button" class="crudBtn blue">화면저장</button>
            </div>
        </div>
    </div>
</div>

<!-- //컨텐츠 내용 -->
<div id="splAlt01" class="modAlert"> <!-- addClass - on:팝업오픈 -->
    <div class="alertArea">
        <div class="alertTit">알림  메세지</div>
        <div class="alertCont">선택한 실적을 적격상태로 전환 하시겠습니까?</div>
        <div class="alertBtm">
            <button type="button" class="btn gLine" onclick="closeAlert('splAlt01');">취소</button>
            <button type="button" class="btn dkBlue">확인</button>
        </div>
    </div>
</div>

<div id="splAlt02" class="modAlert"> <!-- addClass - on:팝업오픈 -->
    <div class="alertArea">
        <div class="alertTit">알림  메세지</div>
        <div class="alertCont">부적격 처리 하시겠습니까?</div>
        <div class="alertBtm">
            <button type="button" class="btn gLine" onclick="closeAlert('splAlt02');">취소</button>
            <button type="button" class="btn dkBlue">확인</button>
        </div>
    </div>
</div>

<div id="sample01" class="modPopup sm"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" type="button" class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                    <div class="popTitle">부적격처리</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <!-- 작은 타이틀 -->
                        <p class="popMsg mB20">
                            · 성과포상금 지급요건을 갖추지 못한 대회실적을 반려처리 합니다.<br>
                            · &lt;메시지 전송&gt;을 체크하면 부적격 사유가 신청자에게 전송됩니다.
                        </p>
                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:100%;" />
                                </colgroup>
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th>부적격 사유</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">
                                            <input type="text">
                                            <br>
                                            <div class="frmChoBox"><input id="chk001" type="checkbox" class="iptChk"><label for="chk001" class="iptLbl">메시지 전송</label></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">
                            <button type="button" type="button" class="btn dkBlue" onclick="closePopup('sample01'), openAlert('splAlt02');">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sample02" class="modPopup sm"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" type="button" class="btnPopClose" onclick="closePopup('sample02');">닫기</button>
                    <div class="popTitle">제출서류관리</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <!-- 작은 타이틀 -->
                        <p class="popMsg mB20">
                            · 지원신청 한 실적에 대한 제출(증빙)서류를 등록합니다.
                        </p>
                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;">
                                    <col style="width:150px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>서류구분</th>
                                        <th>파일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">1</td>
                                        <td class="center">지급신청서</td>
                                        <td>
                                            <div class="frmGroup">
                                                <div class="fileBox">
                                                    <!-- <div class="fileBefore">
                                                        <label for="uploadBtn1" class="gridBtn dkbLine">파일선택</label>
                                                        <input type="file" id="uploadBtn1" class="uploadBtn">
                                                    </div> -->
                                                    <div class="fileAfter" style="display:block;">
                                                        <div class="textBox">test.pptx</div>
                                                        <button type="button" class="fileDel">삭제</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">2</td>
                                        <td class="center">국가대표확인서</td>
                                        <td>
                                            <div class="frmGroup">
                                                <div class="fileBox">
                                                    <div class="fileBefore">
                                                        <label for="uploadBtn1" class="gridBtn dkbLine">파일선택</label>
                                                        <input type="file" id="uploadBtn1" class="uploadBtn">
                                                    </div>
                                                    <div class="fileAfter">
                                                        <div class="textBox"></div>
                                                        <button type="button" class="fileDel">삭제</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">3</td>
                                        <td class="center">통합</td>
                                        <td>
                                            <div class="frmGroup">
                                                <div class="fileBox">
                                                    <div class="fileBefore">
                                                        <label for="uploadBtn1" class="gridBtn dkbLine">파일선택</label>
                                                        <input type="file" id="uploadBtn1" class="uploadBtn">
                                                    </div>
                                                    <div class="fileAfter">
                                                        <div class="textBox"></div>
                                                        <button type="button" class="fileDel">삭제</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">4</td>
                                        <td>
                                            <div class="frmGroup">
                                                <select name="" id="" class="iptSlt">
                                                    <option value="">선택</option>
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="frmGroup">
                                                <div class="fileBox">
                                                    <div class="fileBefore">
                                                        <label for="uploadBtn1" class="gridBtn dkbLine">파일선택</label>
                                                        <input type="file" id="uploadBtn1" class="uploadBtn">
                                                    </div>
                                                    <div class="fileAfter">
                                                        <div class="textBox"></div>
                                                        <button type="button" class="fileDel">삭제</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">
                            <button type="button" type="button" class="btn gLine" onclick="closePopup('sample02');">취소</button>
                            <button type="button" type="button" class="btn dkBlue" onclick="closePopup('sample02');">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../layout/type_spowell/bottom.ejs', {
    url: "../../../"
}) %>