<%- include('../../layout/type01/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type01/topTitle.ejs', {
        url: "../../../"
    }) %>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:110px;" />
                <col style="width:auto;" />
                <col style="width:110px;" />
                <col style="width:auto;" />
                <col style="width:110px;" />
                <col style="width:auto;" />
                <col style="width:110px;" />
                <col style="width:auto;" />
            </colgroup>
            <caption></caption>
            <tbody>
                <tr>
                    <th>성명</th>
                    <td class="center">홍길동</td>
                    <th>주민등록번호</th>
                    <td class="center">000000-1000000</td>
                    <th>등록번호</th>
                    <td class="center">00000</td>
                    <th>회원ID</th>
                    <td class="center">member_id</td>
                </tr>
                <tr>
                    <th>대상구분</th>
                    <td colspan="5">
                        <div class="frmChoBox"><input id="chk001" type="checkbox" class="iptChk"><label for="chk001" class="iptLbl">국가대표 선수</label></div>
                        <div class="frmChoBox"><input id="chk002" type="checkbox" class="iptChk"><label for="chk002" class="iptLbl">국가대표 지도자</label></div>
                        <div class="frmChoBox"><input id="chk003" type="checkbox" class="iptChk"><label for="chk003" class="iptLbl">학생선수</label></div>
                        <div class="frmChoBox"><input id="chk004" type="checkbox" class="iptChk"><label for="chk004" class="iptLbl">원로체육인</label></div>
                        <div class="frmChoBox"><input id="chk004" type="checkbox" class="iptChk"><label for="chk004" class="iptLbl">기타</label></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modTab out"> <!-- addClass - in : 페이지 내 컨텐츠가 교체, out : 페이지 링크 -->
        <ul class="tabMenu">
            <li class="item"><a href="#">기본정보</a></li>
            <li class="item "><a href="#">대회실적조회</a></li>
            <li class="item"><a href="#">지원내역조회</a></li>
            <li class="item on"><a href="#">기타정보관리</a></li>
        </ul>
    </div>
    

    <div class="comSmTit">
        <div class="alignL">
            <div class="title">체육인 기본정보</div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:110px;" />
                <col style="width:auto;" />
                <col style="width:110px;" />
                <col style="width:auto;" />
                <col style="width:110px;" />
                <col style="width:auto;" />
            </colgroup>
            <caption></caption>
            <tbody>
                <tr>
                    <th>장애여부</th>
                    <td class="center">
                        <input type="text">
                    </td>
                    <th>종목</th>
                    <td class="center">
                        <input type="text">
                    </td>
                    <th>소속</th>
                    <td class="center">
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <th>휴대전화</th>
                    <td class="center">
                        <select name="" id="" class="iptSlt frmXs">
                            <option value="">선택</option>
                        </select>
                        <div class="textBox deco">-</div>
                        <input type="text" class="iptText frmXs" />
                        <div class="textBox deco">-</div>
                        <input type="text" class="iptText frmXs" />
                    </td>
                    <th>이메일</th>
                    <td class="center">
                        <input type="text">
                    </td>
                    <th>체육인(선수)<br>번호</th>
                    <td class="center">
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td class="center" colspan="3">
                        <input type="text" class="frmHalf">
                        <input type="text" class="frmHalf">
                    </td>
                    <th>장애인번호</th>
                    <td class="center">
                        <input type="text">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="textBox clar">체육인 기본정보를 수정하면, 수정된 내용이 [체육인정보관리]에 자동 반영됩니다.</div>
    
    <div class="comSmTit">
        <div class="alignL">
            <div class="title">지급은행계좌정보</div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:200px;" />
                <col style="width:200px;" />
                <col style="width:auto;" />
                <col style="width:200px;" />
                <col style="width:200px;" />
                <col style="width:200px;" />
            </colgroup>
            <caption></caption>
            <tbody>
                <tr>
                    <td class="center">경기력 성과포상금</td>
                    <td class="center">00은행</td>
                    <td class="center">0000-00-000000</td>
                    <td class="center">홍길순</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">-</td>
                </tr>
                <tr>
                    <td class="center">생활지원금</td>
                    <td class="center">00은행</td>
                    <td class="center">0000-00-000000</td>
                    <td class="center">홍길순</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">-</td>
                </tr>
                <tr>
                    <td class="center">교육지원금-국내대학원</td>
                    <td class="center">00은행</td>
                    <td class="center">0000-00-000000</td>
                    <td class="center">홍길순</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">-</td>
                </tr>
                <tr>
                    <td class="center">교육지원금-국외유학</td>
                    <td class="center">00은행</td>
                    <td class="center">0000-00-000000</td>
                    <td class="center">홍길순</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">-</td>
                </tr>
                <tr>
                    <td class="center">원로체육인지원</td>
                    <td class="center">00은행</td>
                    <td class="center">0000-00-000000</td>
                    <td class="center">홍길순</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">-</td>
                </tr>
                <tr>
                    <td class="center">체육유공자지원</td>
                    <td class="center">00은행</td>
                    <td class="center">0000-00-000000</td>
                    <td class="center">홍길순</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">-</td>
                </tr>
                <tr>
                    <td class="center">체육장학금</td>
                    <td class="center">00은행</td>
                    <td class="center">0000-00-000000</td>
                    <td class="center">홍길순</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">-</td>
                </tr>
                <!--수정모드-->
                <tr>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text">
                        </div>
                    </td>
                    <td class="center">
                        <div class="frmGroup">
                            <select name="" id="" class="iptSlt">
                                <option value="">2023</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text">
                            <button class="gridBtn dkbLine">계좌확인</button>
                        </div>
                    </td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="comSmTit">
        <div class="alignL">
            <div class="title">체육인 자격정보</div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:80px;" />
                <col style="width:200px;" />
                <col style="width:200px;" />
                <col style="width:200px;" />
                <col style="width:200px;" />
                <col style="width:auto;" />
            </colgroup>
            <caption></caption>
            <tbody>
                <tr>
                    <td class="center">4</td>
                    <td class="center">사망</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">주민전산연계</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="center">3</td>
                    <td class="center">국적상실</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">주민전산연계</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="center">2</td>
                    <td class="center">체육단체 징계</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">
                        <a href="#none">증빙파일.pdf</a>
                    </td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">범죄경력사실확인</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">
                        <a href="#none">증빙파일.pdf</a>
                    </td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">
                        <div class="frmGroup">
                            <input type="text">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 그리드/테이블 하단 버튼 -->
    <div class="cptGroupBtm alignR">
        <div class="comSideOpt">
            <!-- <button class="srhBtn red">상세조회</button>
            <button class="srhBtn blue">상세조회</button>-->
            <button class="srhBtn blue">저장</button>
            <button class="srhBtn dkbLine">목록</button>
            <!-- <button class="srhBtn dkbLine">상세조회</button>
            <button class="srhBtn bLine">상세조회</button> -->
        </div>
    </div>
</div>
<!-- //컨텐츠 내용 -->


<%- include('../../layout/type01/bottom.ejs', {
    url: "../../../"
}) %>