<%- include('../../layout/type_spowell/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type_spowell/topTitle.ejs', {
        url: "../../../"
    }) %>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:auto">
                <col style="width:200px;">
            </colgroup>
            <tbody>
                <tr>
                    <td class="center">
                        <span>홍길동</span>
                        (
                        <span>서울</span>,
                        <span>선발</span>,
                        <span>적격</span>
                        )
                    </td>
                    <td class="center">
                        <button type="button" class="soloBtn bLine" onclick="openPopup('sample02')">자격조회</button>
                        <button type="button" class="soloBtn bLine" onclick="openPopup('sample01')">자격조회이력</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="modTab out"> <!-- addClass - in : 페이지 내 컨텐츠가 교체, out : 페이지 링크 -->
        <ul class="tabMenu">
            <li class="item"><a href="#">기본정보</a></li>
            <li class="item on"><a href="#">자격조회</a></li>
            <li class="item"><a href="#">장학금 현황</a></li>
        </ul>
    </div>
    <div class="comSmTit">
        <div class="alignL">
            <div class="title">자격조회 결과</div>
        </div>
    </div>

    <div class="cptGrid withScroll">
        <table class="gridTb">
            <colgroup>
                <col style="width:120px">

                <col style="width:100px">
                <col style="width:130px">

                <col style="width:100px">
                <col style="width:130px">

                <col style="width:80px">
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:80px">

                <col style="width:80px">
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:80px">

                <col style="width:80px">
                
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:80px">
                
                <col style="width:80px">
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="2">조회일자</th>

                    <th colspan="2">장학생정보</th>
                    <th colspan="2">보호자정보</th>
                    <th colspan="4">기초생활</th>
                    <th colspan="4">차상위</th>

                    <th rowspan="2">한부모</th>

                    <th colspan="3">자격</th>

                    <th rowspan="2">조회자</th>
                </tr>
                <tr class="scndLine">
                    <th>이름</th>
                    <th>주민번호</th>

                    <th>이름</th>
                    <th>주민번호</th>

                    <th>생계</th>
                    <th>의료</th>
                    <th>주거</th>
                    <th>교육</th>

                    <th>장애인</th>
                    <th>재활근로<br>대상자</th>
                    <th>본인부담<br>대상자</th>
                    <th>확인발급</th>

                    <th>수급자격</th>
                    <th>스포츠강좌<br>이용권</th>
                    <th>장애인스포츠<br>강좌이용권</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>YYYY-MM-DD</td>

                    <td>전영혁</td>
                    <td>000000-0000000</td>

                    <td>전보호</td>
                    <td>000000-0000000</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 그리드/테이블 하단 버튼 양측 -->  
    <div class="cptGroupBtnCov">
        <div class="cptGroupBtm alignR">
            <div class="comSideOpt">
                <button type="button" class="crudBtn dkBlue">목록</button>
            </div>
        </div>
    </div>

    <!-- //그리드 -->
</div>
<!-- //컨텐츠 내용 -->

<div id="sample01" class="modPopup lg"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" type="button" class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                    <div class="popTitle">자격조회 이력</div>
                    <div class="popCont">
                        <div class="cptGroupBtnCov">
                            <div class="cptGroupBtm alignR">
                                <div class="comSideOpt">
                                    <button type="button" class="crudBtn bLine">엑셀다운로드</button>
                                </div>
                            </div>
                        </div>
                        <!-- 팝업 컨텐츠 영역 -->
                        <div class="cptGrid withScroll">
                            <table class="gridTb">
                                <colgroup>
                                    <col style="width:120px">
                    
                                    <col style="width:100px">
                                    <col style="width:130px">
                    
                                    <col style="width:100px">
                                    <col style="width:130px">
                    
                                    <col style="width:80px">
                                    <col style="width:80px">
                                    <col style="width:80px">
                                    <col style="width:80px">
                    
                                    <col style="width:80px">
                                    <col style="width:80px">
                                    <col style="width:80px">
                                    <col style="width:80px">
                    
                                    <col style="width:80px">
                                    
                                    <col style="width:80px">
                                    <col style="width:80px">
                                    <col style="width:80px">
                                    
                                    <col style="width:80px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th rowspan="2">조회일자</th>
                    
                                        <th colspan="2">장학생정보</th>
                                        <th colspan="2">보호자정보</th>
                                        <th colspan="4">기초생활</th>
                                        <th colspan="4">차상위</th>
                    
                                        <th rowspan="2">한부모</th>
                    
                                        <th colspan="3">자격</th>
                    
                                        <th rowspan="2">조회자</th>
                                    </tr>
                                    <tr class="scndLine">
                                        <th>이름</th>
                                        <th>주민번호</th>
                    
                                        <th>이름</th>
                                        <th>주민번호</th>
                    
                                        <th>생계</th>
                                        <th>의료</th>
                                        <th>주거</th>
                                        <th>교육</th>
                    
                                        <th>장애인</th>
                                        <th>재활근로<br>대상자</th>
                                        <th>본인부담<br>대상자</th>
                                        <th>확인발급</th>
                    
                                        <th>수급자격</th>
                                        <th>스포츠강좌<br>이용권</th>
                                        <th>장애인스포츠<br>강좌이용권</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>YYYY-MM-DD</td>
                    
                                        <td>전영혁</td>
                                        <td>000000-0000000</td>
                    
                                        <td>전보호</td>
                                        <td>000000-0000000</td>
                    
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                    
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                    
                                        <td></td>
                    
                                        <td></td>
                                        <td></td>
                                        <td></td>
                    
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->
                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">                            
                            <button type="button" type="button" class="btn dkBlue" onclick="closePopup('sample01');">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../layout/type_spowell/bottom.ejs', {
    url: "../../../"
}) %>