<%- include('../../layout/type_spowell/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type_spowell/topTitle.ejs', {
        url: "../../../"
    }) %>
    <div class="modTab out">
        <ul class="tabMenu">
            <li class="item "><a href="#">엑셀파일 일괄등록</a></li>
            <li class="item on"><a href="#">일괄등록 데이터관리</a></li>
        </ul>
    </div>
    <!-- <div class="appFrmDesc">
        <p> </p>
        <p>지원신청 데이터의 일괄등록은 규격에 맞는 엑셀파일로 등록해야합니다. &lt;일괄등록 양식다운로드 : <a href="#none">일괄등록-경기력성과포상금.xlsx</a>&gt;</p>
        <p>일괄등록 데이터는 장애 또는 비장애를 구분해서 각각 등록하세요.</p>
        <p> </p>
    </div> -->
    <br>
    <!-- 검색조건 -->
    <div class="cptTable">
        <table class="tbWrite">
            <caption></caption>
            <colgroup>
                <col style="width:150px;" />
                <col style="width:auto;" />
                <col style="width:150px;" />
                <col style="width:auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <th>업무월 <span class="required">*</span></th>
                    <td class="left">
                        <div class="frmGroup">
                            <select name="" id="" class="iptSlt frmSm">
                                <option value="">2024년</option>
                                <option value=""></option>
                            </select>
                            <select name="" id="" class="iptSlt frmSm">
                                <option value="">00월</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                    <th>구분</th>
                    <td class="left">
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="rdo101" type="radio" class="iptRdo" name="rdo101"><label for="rdo101" class="iptLbl">비장애</label></div>
                            <div class="frmChoBox"><input id="rdo102" type="radio" class="iptRdo" name="rdo101"><label for="rdo102" class="iptLbl">장애</label></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>제목 <span class="required">*</span></th>
                    <td class="left">
                        <input type="text" class="iptText">
                    </td>
                    <th>파일선택 <span class="required">*</span></th>
                    <td class="left">
                        <div class="frmGroup">
                            <div class="fileBox">
                                <div class="fileBefore">
                                    <label for="uploadBtn2" class="gridBtn dkbLine">파일선택</label>
                                    <input type="file" id="uploadBtn2" class="uploadBtn">
                                </div>
                                <div class="fileAfter">
                                    <div class="textBox"></div>
                                    <button type="button" class="fileDel">삭제</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="unit"><span class="text">조회결과 (총 <span class="total">100</span>건)</span><span class="text"> / 중복제외 (총 <span class="total">100</span>건)</span></div>
        </div>
    </div>

    <!-- 그리드 -->
    <div class="cptGrid withScroll">
        <table class="gridTb">
            <colgroup>
                <col style="width:50px;">
                <col style="width:120px;">
                <col style="width:70px;">

                <col style="width:70px;">
                <col style="width:70px;">
                <col style="width:70px;">

                <col style="width:70px;">
                <col style="width:70px;">
                <col style="width:70px;">
                <col style="width:150px;">
                <col style="width:150px;">
                <col style="width:150px;">

                <col style="width:100px;">
                <col style="width:70px;">
                <col style="width:200px;">

                <col style="width:150px;">
                <col style="width:70px;">
                <col style="width:200px;">
                <col style="width:70px;">
                <col style="width:70px;">
                <col style="width:120px;">
                <col style="width:120px;">

                <col style="width:70px;">
                <col style="width:70px;">
                <col style="width:70px;">
                <col style="width:200px;">
                <col style="width:70px;">
                <col style="width:70px;">
                <col style="width:120px;">
                <col style="width:70px;">
                <col style="width:150px;">

                <col style="width:70px;">
                <col style="width:70px;">
                <col style="width:70px;">
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="3">
                        <div class="frmChoBox only">
                            <input id="chkAll101" type="checkbox" class="iptChk"><label for="chkAll101" class="iptLbl"></label>
                        </div>
                    </th>
                    <th rowspan="3">업무월</th>
                    <th rowspan="3">전환</th>

                    <th colspan="3">데이터확인</th>
                    <th colspan="6">체육인정보</th>
                    <th colspan="3">지원신청정보</th>
                    <th colspan="7">실적대회정보</th>
                    <th colspan="9">대회실적정보</th>
                    <th colspan="3">평가점수</th>
                </tr>
                <tr>
                    <th>체육인</th>
                    <th>주민번호</th>
                    <th>은행계좌</th>
                    
                    <th>대상구분</th>
                    <th>성명</th>
                    <th>성별</th>
                    <th>주민등록번호</th>
                    <th>소속</th>
                    <th>휴대전화번호</th>

                    <th>포상금구분</th>
                    <th>은행</th>
                    <th>계좌번호</th>

                    <th>대회구분</th>
                    <th>개최년도</th>
                    <th>대회명</th>
                    <th>개최주기</th>
                    <th>출전국 수</th>
                    <th>개최일</th>
                    <th>종료일</th>

                    <th>장애구분</th>
                    <th>장애유형</th>
                    <th>종목</th>
                    <th>세부종목</th>
                    <th>실적구분</th>
                    <th>순위</th>
                    <th>입상일</th>
                    <th>지도자인원</th>
                    <th>지도선수</th>

                    <th>기존점수</th>
                    <th>추가점수</th>
                    <th>계</th>
                </tr>
                <tr>
                    <th>00건</th>
                    <th>00건</th>
                    <th>00건</th>

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>
                    <th>00건</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl"></label>
                        </div>
                    </td>
                    <td>YYYY-MM</td>
                    <td><span class="textBlue">완료</span></td>

                    <td>0000</td>
                    <td><span class="textBlue">정상</span></td>
                    <td><span class="textBlue">정상</span></td>

                    <td>선수</td>
                    <td>홍길동</td>
                    <td>남</td>
                    <td>000000-0000000</td>
                    <td>충청북도체육회</td>
                    <td>010-0000-0000</td>

                    <td>특별장려금</td>
                    <td>국민</td>
                    <td>000000-00-000000</td>

                    <td>아시안게임</td>
                    <td>2022년</td>
                    <td>2022 항저우아시안게임</td>
                    <td>4</td>
                    <td>9</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>

                    <td>비장애</td>
                    <td>-</td>
                    <td>롤러</td>
                    <td>롤러스테이트 EP10000M</td>
                    <td>개인</td>
                    <td>1</td>
                    <td>2003-12-19</td>
                    <td>2</td>
                    <td>홍길동, 임꺽정</td>
                    
                    <td>20</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl"></label>
                        </div>
                    </td>
                    <td>YYYY-MM</td>
                    <td><span class="textRed">대기</span></td>

                    <td><span class="textBlue">신규</span></td>
                    <td><span class="textRed">오류</span></td>
                    <td><span class="textRed ">오류</span></td>

                    <td>선수</td>
                    <td>홍길동</td>
                    <td>남</td>
                    <td>000000-0000000</td>
                    <td>충청북도체육회</td>
                    <td>010-0000-0000</td>

                    <td>특별장려금</td>
                    <td>국민</td>
                    <td>000000-00-000000</td>

                    <td>아시안게임</td>
                    <td>2022년</td>
                    <td>2022 항저우아시안게임</td>
                    <td>4</td>
                    <td>9</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>

                    <td>비장애</td>
                    <td>-</td>
                    <td>롤러</td>
                    <td>롤러스테이트 EP10000M</td>
                    <td>개인</td>
                    <td>1</td>
                    <td>2003-12-19</td>
                    <td>2</td>
                    <td>홍길동, 임꺽정</td>
                    
                    <td>20</td>
                    <td>10</td>
                    <td>30</td>
                </tr>

                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl"></label>
                        </div>
                    </td>
                    <td>YYYY-MM</td>
                    <td><span class="textBlue">완료</span></td>

                    <td>0000</td>
                    <td><span class="textBlue">정상</span></td>
                    <td><span class="textBlue">정상</span></td>

                    <td>선수</td>
                    <td>홍길동</td>
                    <td>남</td>
                    <td>
                        <div class="frmGroup">
                            <input type="text">
                        </div>
                    </td>
                    <td>충청북도체육회</td>
                    <td>010-0000-0000</td>

                    <td>특별장려금</td>
                    <td>국민</td>
                    <td>
                        <div class="frmGroup">
                            <input type="text">
                        </div>
                    </td>

                    <td>아시안게임</td>
                    <td>2022년</td>
                    <td>2022 항저우아시안게임</td>
                    <td>4</td>
                    <td>9</td>
                    <td>YYYY-MM-DD</td>
                    <td>YYYY-MM-DD</td>

                    <td>비장애</td>
                    <td>-</td>
                    <td>롤러</td>
                    <td>롤러스테이트 EP10000M</td>
                    <td>개인</td>
                    <td>1</td>
                    <td>2003-12-19</td>
                    <td>2</td>
                    <td>홍길동, 임꺽정</td>
                    
                    <td>20</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 그리드/테이블 하단 버튼 양측 -->  
    <div class="cptGroupBtnCov">
        <div class="cptGroupBtm alignL">
            <div class="comSideOpt">
                <button type="button" class="srhBtn dkBlue" onclick="openPopup('sample01')">대회정보 매핑처리</button>
                <button type="button" class="srhBtn dkBlue" onclick="openPopup('sample04')">체육인정보검증</button>
                <button type="button" class="srhBtn dkBlue" onclick="openPopup('sample02')">주민번호검증</button>
                <button type="button" class="srhBtn dkBlue" onclick="openPopup('sample03')">은행계좌검증</button>
            </div>
        </div>
        <div class="cptGroupBtm alignR">
            <div class="comSideOpt">
                <button type="button" class="srhBtn blue">화면저장</button>
            </div>
        </div>
    </div>

    <!-- //그리드 -->
    <div class="appFrmDesc">
        <p> </p>
        <p>오류로 확인된 주민번호 및 은행계좌는 수정 후 다시 확인할 수 있습니다.</p>
        <p> </p>
    </div>

    <div class="cptGroupBtnCov ">
        <div class="cptGroupBtm alignC ">
            <div class="comSideOpt">
                <button type="button" class="srhBtn bLine" onclick="openPopup('')">데이터전환처리</button>
            </div>
        </div>
    </div>
</div>
<!-- //컨텐츠 내용 -->

<div id="sample01" class="modPopup sm"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" type="button" class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                    <div class="popTitle">대회정보 매핑처리</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <!-- 작은 타이틀 -->
                        <p class="popMsg mB20">
                            · 실적데이터 대회정보를 아래의 정보로 매핑처리합니다.<br>
                            · 매핑할 대회정보가 없는 경우 &lt;대회정보관리&gt;메뉴에서 먼저 신규등록을 해주세요.
                        </p>
                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;" />
                                    <col style="width:auto;" />
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">대회구분</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <select name="" id="" class="iptSlt">
                                                    <option value="">선택</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">개최년도</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <select name="" id="" class="iptSlt">
                                                    <option value="">선택</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">대회명</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <select name="" id="" class="iptSlt">
                                                    <option value="">선택</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">개최주기</th>
                                        <td class="left">4</td>
                                    </tr>
                                    <tr>
                                        <th class="left">출전국 수</th>
                                        <td class="left">00</td>
                                    </tr>
                                    <tr>
                                        <th class="left">개최일자</th>
                                        <td class="left">YYYY-MM-DD</td>
                                    </tr>
                                    <tr>
                                        <th class="left">종료일자</th>
                                        <td class="left">YYYY-MM-DD</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">
                            <button type="button" type="button" class="btn gLine" onclick="closePopup('sample01');">취소</button>
                            <button type="button" type="button" class="btn dkBlue" onclick="closePopup('sample01');">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sample02" class="modPopup sm"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" type="button" class="btnPopClose" onclick="closePopup('sample02');">닫기</button>
                    <div class="popTitle">주민번호 검증결과</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <!-- 작은 타이틀 -->
                        <p class="popMsg mB20">
                            · 선택한 데이터의 주민등록번호에 대한 유효성을 확인합니다.<br>
                            · 주민등록번호 확인 오류 건은 개별 수정 후 다시 유효성을 확인해주세요.
                        </p>
                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;" />
                                    <col style="width:auto;" />
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">조회건수</th>
                                        <td class="right">000건</td>
                                    </tr>
                                    <tr>
                                        <th class="left">확인건수</th>
                                        <td class="right">000건</td>
                                    </tr>
                                    <tr>
                                        <th class="left">오류건수</th>
                                        <td class="right">000건</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">
                            <button type="button" type="button" class="btn dkBlue" onclick="closePopup('sample02');">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="sample03" class="modPopup sm"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" type="button" class="btnPopClose" onclick="closePopup('sample03');">닫기</button>
                    <div class="popTitle">은행계좌 검증결과</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <!-- 작은 타이틀 -->
                        <p class="popMsg mB20">
                            · 선택한 데이터의 은행계좌에 대한 유효성을 확인합니다.<br>
                            · 은행계좌 오류 건은 개별 수정 후 다시 유효성을 확인해주세요.
                        </p>
                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;" />
                                    <col style="width:auto;" />
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">조회건수</th>
                                        <td class="right">000건</td>
                                    </tr>
                                    <tr>
                                        <th class="left">확인건수</th>
                                        <td class="right">000건</td>
                                    </tr>
                                    <tr>
                                        <th class="left">오류건수</th>
                                        <td class="right">000건</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">                            
                            <button type="button" type="button" class="btn dkBlue" onclick="closePopup('sample03');">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="sample04" class="modPopup sm"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" type="button" class="btnPopClose" onclick="closePopup('sample04');">닫기</button>
                    <div class="popTitle">체육인 검증결과</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <!-- 작은 타이틀 -->
                        <p class="popMsg mB20">
                            · 주민번호를 기준으로 시스템에 등록된 체육이 등록여부를 확인합니다.
                        </p>
                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;" />
                                    <col style="width:auto;" />
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">조회건수</th>
                                        <td class="right">000건</td>
                                    </tr>
                                    <tr>
                                        <th class="left">확인건수</th>
                                        <td class="right">000건</td>
                                    </tr>
                                    <tr>
                                        <th class="left">신규건수</th>
                                        <td class="right">000건</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">
                            <button type="button" type="button" class="btn dkBlue" onclick="closePopup('sample04');">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../layout/type_spowell/bottom.ejs', {
    url: "../../../"
}) %>