<%- include('../../layout/type_spowell/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type_spowell/topTitle.ejs', {
        url: "../../../"
    }) %>
    <div class="modTab out">
        <ul class="tabMenu">
            <li class="item on"><a href="#">엑셀파일 일괄등록</a></li>
            <li class="item "><a href="#">일괄등록 데이터관리</a></li>
        </ul>
    </div>
    <div class="listDescription">
        <div class="horizonLyt spb">
            <p class="dotCase">
                <span>지원신청 데이터의 일괄등록은 규격에 맞는 엑셀파일로 등록해야 합니다.</span>
                <span>일괄등록 데이터는 장애 또는 비장애를 구분해서 각각 등록하세요.</span>
            </p>
            <button type="button" class="soloBtn bLine">체육장학금 엑셀파일 양식 다운로드</button>
        </div>
    </div>
    <!-- 검색조건 -->
    <div class="cptTable">
        <table class="tbWrite">
            <caption></caption>
            <colgroup>
                <col style="width:150px;" />
                <col style="width:auto;" />
                <col style="width:150px;" />
                <col style="width:auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <th>업무월 <span class="required">*</span></th>
                    <td class="left">
                        <div class="frmGroup">
                            <select name="" id="" class="iptSlt frmSm">
                                <option value="">2024년</option>
                                <option value=""></option>
                            </select>
                            <select name="" id="" class="iptSlt frmSm">
                                <option value="">00월</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                    <th>구분</th>
                    <td class="left">
                        <div class="frmGroup">
                            <div class="frmChoBox"><input id="rdo101" type="radio" class="iptRdo" name="rdo101"><label for="rdo101" class="iptLbl">비장애</label></div>
                            <div class="frmChoBox"><input id="rdo102" type="radio" class="iptRdo" name="rdo101"><label for="rdo102" class="iptLbl">장애</label></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>제목 <span class="required">*</span></th>
                    <td class="left">
                        <input type="text" class="iptText">
                    </td>
                    <th>파일선택 <span class="required">*</span></th>
                    <td class="left">
                        <div class="frmGroup">
                            <div class="fileBox">
                                <div class="fileBefore">
                                    <label for="uploadBtn2" class="gridBtn dkbLine">파일선택</label>
                                    <input type="file" id="uploadBtn2" class="uploadBtn">
                                </div>
                                <div class="fileAfter">
                                    <div class="textBox"></div>
                                    <button type="button" class="fileDel">삭제</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="unit">
                <span class="text">사업년도 <span class="year">2024</span>년</span>
                <span class="text"> / 제목 : <span class="total">~~~~~~~~~~</span></span>
                <span class="text"> / <span>비장애</span></span>
            </div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <!-- <li class="item">
                        <button type="button" class="viewBtn on">10건</button>
                        <button type="button" class="viewBtn">20건</button>
                        <button type="button" class="viewBtn">50건</button>
                        <button type="button" class="viewBtn">100건</button>
                    </li> -->
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 그리드 -->
    <div class="cptGrid withScroll">
        <table class="gridTb">
            <colgroup>
                <col style="width:50px;">
                <col style="width:70px;">
                <col style="width:70px;">

                <col style="width:100px;">
                <col style="width:100px;">
                <col style="width:100px;">
                <col style="width:100px;">
                <col style="width:70px;">
                <col style="width:150px;">
                <col style="width:150px;">

                <col style="width:100px;">
                <col style="width:150px;">

                <col style="width:100px;">
                <col style="width:150px;">
                <col style="width:70px;">
                
                <col style="width:250px;">
                <col style="width:70px;">
                <col style="width:70px;">

                <col style="width:150px;">

                <col style="width:250px;">
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="2">
                        <div class="frmChoBox only">
                            <input id="chkAll101" type="checkbox" class="iptChk"><label for="chkAll101" class="iptLbl"></label>
                        </div>
                    </th>
                    <th rowspan="2">중복제외</th>
                    <th rowspan="2">장애구분</th>

                    <th colspan="7">체육인정보</th>
                    <th colspan="2">보호자정보</th>
                    <th colspan="3">학교정보</th>
                    <th colspan="3">대회참가정보</th>
                    
                    <th rowspan="2">은행계좌</th>
                    
                    <th rowspan="2">비고</th>
                </tr>
                <tr class="scndLine">
                    <th>추천단체</th>
                    <th>지역</th>
                    <th>종목</th>
                    <th>성명</th>
                    <th>성별</th>
                    <th>주민등록번호</th>
                    <th>휴대전화번호</th>

                    <th>보호자 성명</th>
                    <th>보호자 연락처</th>

                    <th>학교</th>
                    <th>학교명</th>
                    <th>학년</th>

                    <th>대표대회</th>
                    <th>순위</th>
                    <th>입상횟수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl"></label>
                        </div>
                    </td>
                    <td><span class="txtRed">삭제</span></td>
                    <td>
                        <span>비장애</span><br>
                        <span>시각</span>
                    </td>

                    <td>대한체육회</td>
                    <td>서울</td>
                    <td>근대5종</td>
                    <td>홍길동</td>
                    <td>남</td>
                    <td>000000-0000000</td>
                    <td>010-0000-0000</td>
                    
                    <td>홍길동</td>
                    <td>010-0000-0000</td>

                    <td>초등</td>
                    <td>은석초등학교</td>
                    <td>4</td>
                    
                    <td>체육회 주관 전국대회</td>
                    <td>1</td>
                    <td>10</td>

                    <td>
                        <span>국민은행</span><br>
                        <span>000000-00-000000</span>
                    </td>
                    
                    <td>비고내용 영역</td>
                </tr>
                <tr>
                    <td>
                        <div class="frmChoBox only">
                            <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl"></label>
                        </div>
                    </td>
                    <td><span class="txtBlue">중복</span></td>
                    <td>
                        <span>비장애</span><br>
                        <span>시각</span>
                    </td>

                    <td>대한체육회</td>
                    <td>서울</td>
                    <td>근대5종</td>
                    <td>홍길동</td>
                    <td>남</td>
                    <td>000000-0000000</td>
                    <td>010-0000-0000</td>
                    
                    <td>홍길동</td>
                    <td>010-0000-0000</td>

                    <td>초등</td>
                    <td>풍납초등학교</td>
                    <td>6</td>
                    
                    <td>전국체육대회</td>
                    <td>1</td>
                    <td>10</td>

                    <td>
                        <span>국민은행</span><br>
                        <span>000000-00-000000</span>
                    </td>
                    
                    <td>비고내용 영역</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //그리드 -->
    <div class="appFrmDesc">
        <p> </p>
        <p>중복확인의 중복 건은 일괄등록에서 제외하고 &lt;일괄등록 데이터관리&gt;에 등록처리 됩니다.</p>
        <p> </p>
    </div>

    <!-- 그리드/테이블 하단 버튼 양측 -->  
    <div class="cptGroupBtnCov">
        <div class="cptGroupBtm alignL">
            <div class="comSideOpt">
                <button type="button" class="crudBtn dkBlue">선택삭제</button>
            </div>
        </div>
        <div class="cptGroupBtm alignR">
            <div class="comSideOpt">
                <button type="button" class="crudBtn blue" onclick="openPopup('sample01')">저장</button>
                <button type="button" class="crudBtn gray">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- //컨텐츠 내용 -->

<div id="sample01" class="modPopup sm"> <!-- class - md : 중간 팝업, on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button type="button" type="button" class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                    <div class="popTitle">은행계좌 검증결과</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->

                        <!-- 작은 타이틀 -->
                        <p class="popMsg mB20 center">
                            총 <span class="txtBlue">000</span>건 입니다.<br>아래 내용으로 저장하시겠습니까?
                        </p>
                        <!-- 테이블 -->
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:150px;" />
                                    <col style="width:auto;" />
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="center">사업년도</th>
                                        <td class="center">2025</td>
                                    </tr>
                                    <tr>
                                        <th class="center">구분</th>
                                        <td class="center">비장애</td>
                                    </tr>
                                    <tr>
                                        <th class="center">제목</th>
                                        <td class="center">2025년 체육장학금 추천</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <!-- 팝업 버튼 영역 -->
                    <div class="popBtm">
                        <div class="alignR">                            
                            <button type="button" type="button" class="btn dkBlue" onclick="closePopup('sample01');">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../layout/type_spowell/bottom.ejs', {
    url: "../../../"
}) %>