<%- include('../../layout/type_spowell/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type_spowell/topTitle.ejs', {
        url: "../../../"
    }) %>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:150px;">
                <col style="width:auto;">
                <col style="width:150px;">
                <col style="width:auto;">
                <col style="width:150px;">
                <col style="width:auto;">
            </colgroup>
            <thead>
                <tr>
                    <th>사업년도</th>
                    <td>2025년</td>
                    <th>연번</th>
                    <td>3</td>
                    <th>등록일자</th>
                    <td>YYYY-MM-DD</td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="comSmTit">
        <div class="alignL">
            <div class="title">신청자 기본정보</div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:150px;">
                <col style="width:auto;">
                <col style="width:150px;">
                <col style="width:auto;">
                <col style="width:150px;">
                <col style="width:auto;">
            </colgroup>
            <thead>
                <tr>
                    <th>성명 <span class="required">*</span></th>
                    <td>홍길동</td>
                    <th>주민등록번호 <span class="required">*</span></th>
                    <td>000000-0000000</td>
                    <th>성별 <span class="required">*</span></th>
                    <td>남</td>
                </tr>
                <tr>
                    <th>장애여부 <span class="required">*</span></th>
                    <td>비장애</td>
                    <th>연락처 <span class="required">*</span></th>
                    <td>010-0000-0000</td>
                    <th>은행계좌 <span class="required">*</span></th>
                    <td>
                        <span>기업은행</span>
                        <span>000000-00-000-000</span>
                    </td>
                </tr>
                <tr>
                    <th>종목 <span class="required">*</span></th>
                    <td>수영</td>
                    <th>추천단체 <span class="required">*</span></th>
                    <td>대한체육회</td>
                    <th>지역 <span class="required">*</span></th>
                    <td>서울</td>
                </tr>
                <tr>
                    <th>재학기관 <span class="required">*</span></th>
                    <td>초등</td>
                    <th>학년 <span class="required">*</span></th>
                    <td>5</td>
                    <th>학교 <span class="required">*</span></th>
                    <td>서울 초등학교</td>
                </tr>
                <tr>
                    <th>보호자성명</th>
                    <td>홍길동</td>
                    <th>보호자연락처</th>
                    <td>010-0000-0000</td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="comSmTit">
        <div class="alignL">
            <div class="title">대회실적 (<span class="txtBlue">3</span>)건</div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:200px">
                <col style="width:250px">
                <col style="width:auto">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
            </colgroup>
            <thead>
                <tr>
                    <th>대표대회</th>
                    <th>종목</th>
                    <th>개최년도</th>
                    <th>대회구분</th>
                    <th>입상대회</th>
                    <th>순위</th>
                    <th>장애여부</th>
                    <th>장애유형</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">
                        <span class="marked"></span>
                    </td>
                    <td class="center">수영</td>
                    <td class="center">2025년</td>
                    <td class="center">전국소년체전</td>
                    <td>제 54회 전국소년체육대회 혼계영 200M</td>
                    <td class="center">1</td>
                    <td class="center">비장애</td>
                    <td class="center"></td>
                </tr>
                <tr>
                    <td class="center">
                        
                    </td>
                    <td class="center">수영</td>
                    <td class="center">2025년</td>
                    <td class="center">전국소년체전</td>
                    <td>제 54회 전국소년체육대회 혼계영 200M</td>
                    <td class="center">1</td>
                    <td class="center">비장애</td>
                    <td class="center"></td>
                </tr>
                <tr>
                    <td class="center">
                        
                    </td>
                    <td class="center">수영</td>
                    <td class="center">2025년</td>
                    <td class="center">전국소년체전</td>
                    <td>제 54회 전국소년체육대회 혼계영 200M</td>
                    <td class="center">1</td>
                    <td class="center">비장애</td>
                    <td class="center"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="comSmTit">
        <div class="alignL">
            <div class="title">제출서류 (<span class="txtBlue">00</span>)건</div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:100px">
                <col style="width:500px">
                <col style="width:auto">
            </colgroup>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제출서류구분</th>
                    <th>파일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">1</td>
                    <td>개인정보수집이용동의서</td>
                    <td>
                        <div class="frmGroup">
                            <div class="fileBox on">
                                <div class="fileAfter">
                                    <div class="textBox">파일명.pdf</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td>개인정보수집이용동의서</td>
                    <td>
                        <div class="frmGroup">
                            <div class="fileBox on">
                                <div class="fileAfter">
                                    <div class="textBox">파일명.pdf</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td>개인정보수집이용동의서</td>
                    <td>
                        <div class="frmGroup">
                            <div class="fileBox on">
                                <div class="fileAfter">
                                    <div class="textBox">파일명.pdf</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="comSmTit">
        <div class="alignL">
            <div class="title">적격심사 및 대상자 선정</div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:16.6666%">
                <col style="width:16.6666%">
                <col style="width:16.6666%">
                <col style="width:16.6666%">
                <col style="width:16.6666%">
                <col style="width:16.6666%">
            </colgroup>
            <thead>
                <tr>
                    <th colspan="2">1. 적격심사</th>
                    <th colspan="2">2. 대상자 선정</th>
                    <th colspan="2">3. 공단 승인</th>
                </tr>
                <tr>
                    <th>상태</th>
                    <th>심사일</th>
                    <th>상태</th>
                    <th>선정일</th>
                    <th>상태</th>
                    <th>승인일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">적격</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">선정</td>
                    <td class="center">YYYY-MM-DD</td>
                    <td class="center">승인완료</td>
                    <td class="center">YYYY-MM-DD</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="comSmTit">
        <div class="alignL">
            <div class="title">지급계획</div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:33.3333%">
                <col style="width:33.3333%">
                <col style="width:33.3333%">
            </colgroup>
            <thead>
                <tr>
                    <th>재학기관</th>
                    <th>장학금액</th>
                    <th>지급예정일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">초등 5</td>
                    <td class="center">300,000</td>
                    <td class="center">YYYY-MM-DD</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="comSmTit">
        <div class="alignL">
            <div class="title">비고</div>
        </div>
    </div>
    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:100%">
            </colgroup>
            <tbody>
                <tr>
                    <td>
                        <div class="frmGroup">
                            <textarea name="" id="" class="textArea areaMd" readonly>test text area</textarea>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 그리드/테이블 하단 버튼 양측 -->  
    <div class="cptGroupBtnCov">
        <div class="cptGroupBtm alignR">
            <div class="comSideOpt">
                <button type="button" class="crudBtn blue">수정</button>
                <button type="button" class="crudBtn blue">목록</button>
            </div>
        </div>
    </div>
</div>
<!-- //컨텐츠 내용 -->
<%- include('../../layout/type_spowell/bottom.ejs', {
    url: "../../../"
}) %>