<%- include('../../layout/type_spowell/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type_spowell/topTitle.ejs', {
        url: "../../../"
    }) %>

    
    <div class="comSmTit">
        <div class="alignL">
            <div class="title">회원 기본정보</div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:110px">
                <col style="width:auto;">
                <col style="width:110px">
                <col style="width:auto;">
                <col style="width:110px">
                <col style="width:auto;">
                <col style="width:110px">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th>회원ID</th>
                    <td>member_id</td>
                    <th>성명</th>
                    <td>홍길동</td>
                    <th>주민등록번호</th>
                    <td>000000-0******</td>
                    <th>회원구분</th>
                    <td>14세 미만</td>
                </tr>
                <tr>
                    <th>휴대전화</th>
                    <td>010-0000-0000</td>
                    <th>이메일</th>
                    <td>id@domain.co.kr</td>
                    <th>주소</th>
                    <td colspan="3">
                        [우편번호] 기본주소 + 상세주소
                    </td>
                </tr>
                <tr>
                    <th>네이버 로그인</th>
                    <td>naver_id &lt;YYYY-MM-DD&gt;</td>
                    <th>카카오로그인</th>
                    <td>kakao_id &lt;YYYY-MM-DD&gt;</td>
                    <th>대리인명</th>
                    <td>홍길동</td>
                    <th>대리인<br>휴대전화</th>
                    <td>010-9009-0000</td>
                </tr>
                <tr>
                    <th>회원가입일자</th>
                    <td>YYYY-MM-DD</td>
                    <th>최근 로그인</th>
                    <td colspan="4">YYYY-MM-DD</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="comSmTit">
        <div class="alignL">
            <div class="title">
                체육인 현황정보
                <span class="comSideOpt">
                    <button type="button" class="srhBtn bLine">체육인정보 상세조회</button>
                </span>
            </div>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:110px">
                <col style="width:auto;">
                <col style="width:110px">
                <col style="width:auto;">
                <col style="width:110px">
                <col style="width:auto;">
                <col style="width:110px">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th>체육인등록번호</th>
                    <td>00000</td>
                    <th>장애여부</th>
                    <td>비장애</td>
                    <th>체육인구분</th>
                    <td colspan="3">국가대표선수, 국가대표지도자</td>
                </tr>
                <tr>
                    <th>종목</th>
                    <td></td>
                    <th>소속</th>
                    <td></td>
                    <th>체육인선수번호</th>
                    <td>00000</td>
                    <th>장애인번호</th>
                    <td>-</td>
                </tr>
                <tr>
                    <th>국가대표<br>선수실적</th>
                    <td>00 건</td>
                    <th>국가대표<br>지도자실적</th>
                    <td>00 건</td>
                    <th>학생선수<br>입상실적</th>
                    <td colspan="3">00 건</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 그리드/테이블 하단 버튼 -->
    <div class="cptGroupBtm alignR">
        <div class="comSideOpt">
            <button type="button" class="srhBtn gLine">목록</button>
        </div>
    </div>
</div>
<!-- //컨텐츠 내용 -->

<%- include('../../layout/type_spowell/bottom.ejs', {
    url: "../../../"
}) %>