<%- include('../../layout/type_spowell/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type_spowell/topTitle.ejs', {
        url: "../../../"
    }) %>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:110px;">
                <col style="width:auto;">
                <col style="width:110px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th>이름 <span class="required">*</span></th>
                    <td>
                        <div class="frmGroup">
                            <input type="text" class="iptText frmLg">
                        </div>
                    </td>
                    <th>주민등록번호 <span class="required">*</span></th>
                    <td>
                        <div class="frmGroup">
                            <input type="text" class="iptText frmLg">
                            <div class="textBox deco">-</div>
                            <input type="text" class="iptText frmLg">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 그리드/테이블 하단 버튼 양측 -->  
    <div class="cptGroupBtnCov">
        <div class="cptGroupBtm alignR">
            <div class="comSideOpt">
                <button type="button" class="crudBtn dkBlue">조회</button>
                <button type="button" class="crudBtn blue">개별등록</button>
                <button type="button" class="crudBtn blue">일괄등록</button>
            </div>
        </div>
    </div>

    <div class="comSmTit">
        <div class="alignL">
            <div class="title">범죄사실확인 일괄등록</div>
        </div>
    </div>
    <div class="listDescription">
        <div class="horizonLyt">
            <p>일괄등록 엑셀형식 : 등록번호, 이름, 주민등록번호, 범죄사실 확인내용</p>
            <button type="button" class="soloBtn bLine">파일선택</button>
            <button type="button" class="soloBtn dkBlue">확인</button>
        </div>
    </div>
    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:33.3333%;">
                <col style="width:33.3333%;">
                <col style="width:33.3333%;">
            </colgroup>
            <thead>
                <tr>
                    <th>데이터건수</th>
                    <th>체육인확인</th>
                    <th>체육인 미확인</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">총 <span>00</span>건</td>
                    <td class="center"><span>00</span>건</td>
                    <td class="center"><span>00</span>건</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 그리드/테이블 하단 버튼 양측 -->  
    <div class="cptGroupBtnCov">
        <div class="cptGroupBtm alignR">
            <div class="comSideOpt">
                <button type="button" class="crudBtn blue">저장</button>
                <button type="button" class="crudBtn gray">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- //컨텐츠 내용 -->

<!-- 팝업 영역 -->
<div id="sample01" class="modPopup md"> <!-- class - on : 팝업오픈 -->
    <div class="popupDim">딤영역</div>
    <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
        <div class="popupInMotion">
            <div class="popupContainer">
                <div class="popupContArea">
                    <button class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                    <div class="popTitle">발급문서조회</div>
                    <div class="popCont">
                        
                        <!-- 팝업 컨텐츠 영역 -->
                        <div class="ContBox" style="width:100%; height:800px; background:#e5e5e5;">
                            <!--개발 작업 시 style 제거 요청 - 컨텐츠 높이값 사용 예정-->
                            발급문서별 구성내용 표기 
                        </div>
                        <!-- //팝업 컨텐츠 영역 -->

                    </div>
                    <div class="popBtm">
                        <button class="btn dkBlue">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../../layout/type_spowell/bottom.ejs', {
    url: "../../../"
}) %>