<%- include('../../layout/type_spowell/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type_spowell/topTitle.ejs', {
        url: "../../../"
    }) %>

    <div class="comSmTit">
        <div class="alignL">
            <div class="title">복지사업별 사업기간 및 신청기간 설정</div>
        </div>
    </div>

    <div class="comOutGroup">
        <p>
            사업년도 : 
            <span class="txtBlue"><span>2025</span>년</span> / 
            사업기간 : 
        </p>
        <div class="frmGroup">
            <div class="iptDate"><input type="text" class="iptText" id="datepicker1"></div>
            <div class="textBox deco">~</div>
            <div class="iptDate"><input type="text" class="iptText" id="datepicker2"></div>
            <button type="button" class="soloBtn bLine">일괄적용</button>
        </div>
    </div>

    <div class="cptTable">
        <table class="tbView">
            <colgroup>
                <col style="width:200px">
                <col style="width:150px">
                <col style="width:250px">
                <col style="width:80px">
                <col style="width:250px">
            </colgroup>
            <thead>
                <tr>
                    <th>구분</th>
                    <th>사업명</th>
                    <th>사업기간</th>
                    <th>신청구분</th>
                    <th>예정 신청기간</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="7" class="center">복지후생금</td>
                    <td>경기력 성과포상금(선수)</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td class="center">상시</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>경기력 성과포상금(지도자)</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td class="center">상시</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>생활지원금</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td class="center">연 1회</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">교육지원금 - 국내대학원</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td rowspan="2" class="center">연 2회</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">교육지원금 - 국외유학</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td rowspan="2" class="center">연 2회</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td rowspan="2" class="center">장학사업</td>
                    <td>체육장학금</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td class="center">연 1회</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>스포츠꿈나무 특기장려금</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td class="center">연 1회</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td rowspan="2" class="center">체육유공자</td>
                    <td>연금</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td class="center">상시</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>기타지원</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td class="center">상시</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="center">원로체육인지원금</td>
                    <td></td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                    <td class="center">연 1회</td>
                    <td>
                        <div class="frmGroup">
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                            <div class="textBox Deco">~</div>
                            <div class="iptDate">
                                <input type="text" class="iptText" id="datepicker3">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="txtBox clar">복지사업별 예정 신청기간 정보를 수정하면 체육인복지지원 포털 사이트에 자동 반영됩니다.</div>    

    <!-- 그리드/테이블 하단 버튼 -->
    <div class="cptGroupBtm alignR">
        <div class="comSideOpt">
            <button type="button" class="crudBtn blue">저장</button>
            <button type="button" class="crudBtn dkBlue">목록</button>
        </div>
    </div>

</div>
<!-- //컨텐츠 내용 -->

<!-- 팝업 영역 -->

<%- include('../../layout/type_spowell/bottom.ejs', {
    url: "../../../"
}) %>