<%
var url = locals.url ? locals.url : '../../';
%>

<div class="comH2Group">
    <div class="alignL">
        <h2>Current page Name (title area)</h2>
    </div>
    <div class="alignR">
        <ul class="locaGroup">
            <li class="item">HOME</li>
            <li class="item">2depth Category Name</li>
            <li class="item">Current Page Name</li>
        </ul>
    </div>
</div>